.form {
  background: white;
  border-radius: 6px;
  box-shadow: 0 0 2px -1px rgba(0, 0, 0, 0.8);
  display: flex;
  flex-wrap: wrap;
  padding: 20px;
  column-gap: 10px;
  &:global(.ant-form-horizontal) {
    :global(.ant-form-item) {
      flex: 0 1 calc(50% - 10px);
    }
  }
  &:global(.ant-form-inline) {
    row-gap: 10px;
    column-gap: 50px;
    :global(.ant-form-item) {
      margin-right: 0;
      :global(.ant-form-item-label) {
        @media (max-width: 575px) {
          flex: 0 0 auto;
        }
      }
    }
  }
}
